//
//     /\   \ /  |  / \  |\  /|
//    /  \  / \  |  \ /  | \/ |
//
// Article
// ––––––––––––––––––––––––––––––––––––––––––––––––––

time, address {
  display: inline;
  font-style: normal;
  font-family: $display-font-stack;
  font-weight: $display-font-weight;
  letter-spacing: $display-font-letter-spacing;
  @if $display-font-is-uppercase {
    text-transform: uppercase;
  }
}

article {
  max-width: $article-width;
  margin: 0 auto;
  padding: 0 $content-padding;
  p, h1, h2, table, figure {
    margin: $base-spacing 0;
  }
  figcaption {
    color: $color-medium;
    font-size: 75%;
  }
}
