//
//     /\   \ /  |  / \  |\  /|
//    /  \  / \  |  \ /  | \/ |
//
// Article
// ––––––––––––––––––––––––––––––––––––––––––––––––––

time, address {
  display: inline;
  font-style: normal;
  @if ($font-h2-stack != $font-stack) {
    font-family: $font-h2-stack;
  }
  font-weight: $font-h2-weight;
  letter-spacing: $font-h2-letter-spacing;
  @if $font-h2-is-uppercase {
    text-transform: uppercase;
  }
}

$content-side-width: (($content-width - $article-width) / 2) - $grid-gap;

article {

  & > * {
    margin: 0;
    padding: $grid-gap;
  }

}


@media (min-width: $media-larger-than-mobile) {
  article {
    display: grid;
    grid-template-columns: 
      [full-start] minmax(0, 1fr)
      [content-start] minmax(0, $content-side-width)
      [article-start] minmax(0, $article-width)
      [article-end] minmax(0, $content-side-width)
      [content-end] minmax(0, 1fr)
      [full-end];
    grid-gap: $grid-gap;

    & > * {
      padding: 0;
      grid-column: content;
    }

    & > header, & > section, & > footer {
      grid-column: article;
    }

    aside {
      grid-column: full;
      & > section {
        margin: 0 auto;
        max-width: $article-width;
      }
    }

    .aside-left {
      grid-column: 2;
    }
    .aside-right {
      grid-column: 4;
    }
  }
}

@media (min-width: $media-larger-than-tablet) {
  article {
    
  }
}
