//
//     /\   \ /  |  / \  |\  /|
//    /  \  / \  |  \ /  | \/ |
//
// Base
// ––––––––––––––––––––––––––––––––––––––––––––––––––

// Set box-sizing globally, so below's border-box applies to all
*,
*:after,
*:before {
  box-sizing: inherit;
}

// The base font-size is set at 62.5% for having the convenience
// of sizing rems in a way that is similar to using px: 1.6rem = 16px
html {
  box-sizing: border-box;
  font-size: 62.5%;
}


// Reset some margins
p, h1, h2, table {
  margin: 0;
}

// Default body styles
body {
  margin: 0;
  font-family: $font-stack;
  font-size: 2em;
  font-weight: $font-weight-regular;
  letter-spacing: $font-letter-spacing;
  line-height: 1.6;
}


body > main, body > section {
  max-width: $content-width;
  margin: 0 auto;
}

hr {
  border-top: .2rem solid currentColor;
  border: 0;
  margin: 2rem 0;
}
