//
//     /\   \ /  |  / \  |\  /|
//    /  \  / \  |  \ /  | \/ |
//
// Blockquote
// ––––––––––––––––––––––––––––––––––––––––––––––––––

blockquote {
  border-left: .3rem solid $color-medium;
  margin: 0;
  padding: 1rem 1.5rem;

  *:first-child {
    margin-top: 0;
  }
  *:last-child {
    margin-bottom: 0;
  }
}