//
//     /\   \ /  |  / \  |\  /|
//    /  \  / \  |  \ /  | \/ |
//
// Button
// ––––––––––––––––––––––––––––––––––––––––––––––––––

$button-spacing: 1.5rem;

.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  @include button-font-style();

  background-color: $color-primary;
  color: $color-contrast;
  border: 0;
  border-radius: $border-radius;
  cursor: pointer;
  //display: inline-block;  
  text-decoration: none;
  white-space: nowrap;
  padding: 1.6rem 2.4rem;
  margin: 1rem 0;

  display: inline-flex;
  align-items: center;

  .ic {
    margin: 0 !important;
    left: -.7rem;
  }

  transition: box-shadow $animation-speed ease-out;

  &:focus,
  &:hover {
    color: $color-contrast;
    text-decoration: none;
    //background-color: $color-primary-hover;
    outline: 0;

    box-shadow: 0 0 0 .15em $color-contrast,
                0 0 0 .3em $color-primary;

  }

  &[disabled] {
    cursor: default;
    opacity: .5;

    &:hover {
      box-shadow: none;
    }
  }

  &.button-contrast {
    background-color: $color-contrast;
    color: $color-primary;
    &:focus, &:hover {
      box-shadow: 0 0 0 .15em $color-primary,
                  0 0 0 .3em $color-contrast;
    }
  }

}