//
//     /\   \ /  |  / \  |\  /|
//    /  \  / \  |  \ /  | \/ |
//
// Button
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.button-row {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  padding: -.5rem;
  & > * {
    margin: .5rem;
  }
}

.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  @include button-font-style();

  background-color: $color-primary;
  color: $color-contrast;
  border: 0;
  border-radius: $border-radius;
  cursor: pointer;
  text-decoration: none;
  white-space: nowrap;
  padding: 1.4rem 1.7rem;
  min-height: 6.6rem;
  
  display: inline-flex;
  align-items: center;
  justify-content: center;

  @include animated-border-hover($color-primary, $color-contrast, .3em);

  &:focus,
  &:hover {
    color: $color-contrast;
    text-decoration: none;
    outline: 0;
  }

  &[disabled] {
    cursor: default;
    opacity: .5;

    &:hover {
      box-shadow: none;
    }
  }

  &.button-contrast {
    background-color: $color-contrast;
    color: $color-primary;
    @include animated-border-hover($color-contrast, $color-primary, .3em);
  }

}