//
//     /\   \ /  |  / \  |\  /|
//    /  \  / \  |  \ /  | \/ |
//
// Colors
// ––––––––––––––––––––––––––––––––––––––––––––––––––

// if primary exists, add
//@if $color-primary {
//  $colors: map-merge($colors, ( "primary": $color-primary ) );
//}

// for each color, create a .background-name class
@each $name, $color in $colors {
  // determine contrasting foreground color based on lightness
  //$fg: $color-background;
  //@if lightness($color) > 50% and lightness($color-background) > 50% {
    $fg: $color-foreground;
  //}
  

  body.color-#{$name} > header,
  header.color-#{$name},
  .background-#{$name} {
    background: $color;
  }

  .color-#{$name} {

    // link
    a {
      color: $color;
    }

    // button
    .button,
    button,
    input[type='button'],
    input[type='reset'],
    input[type='submit'] {
      background-color: $color;
      color: $fg;
      
      @include animated-border-hover($color, $color-background, .2em);

      &:focus,
      &:hover {
        background-color: $color-background;
        color: $color;
      }
    }

  }
}