//
//     /\   \ /  |  / \  |\  /|
//    /  \  / \  |  \ /  | \/ |
//
// Colors
// ––––––––––––––––––––––––––––––––––––––––––––––––––

// basic classes for background and foreground shades
.background-body {
  background-color: $color-background;
}
.background-inverted {
  background-color: $color-foreground;
}


// if primary exists, add
@if $color-primary {
  $colors: map-merge($colors, ( "primary": $color-primary ) );
}

// for each color, create a .background-name class
@each $name, $color in $colors {
  // determine contrasting foreground color based on lightness
  //$fg: $color-background;
  //@if lightness($color) > 50% and lightness($color-background) > 50% {
    $fg: $color-foreground;
  //}

  .color-#{$name} {
    color: $color;
  }

  
  .background-#{$name} {
    background-color: $color;
    //color: $fg;

    // link
    a {
      color: $color-background;
    }

    h1 {
      a {
        color: $fg;
      }
    }

    // nav
    & nav {
      & > a {
        color: $fg;
        &:focus, &:hover {
          color: $color-background;
          box-shadow: 0 -.4rem 0 $color-background inset;
        }
      }
    }

    // button
    .button,
    button,
    input[type='button'],
    input[type='reset'],
    input[type='submit'] {
      background-color: $fg;
      color: $color;
      
      @include animated-border-hover($color-background, $color, .2em);

      &:focus,
      &:hover {
        background-color: $color-background;
        color: $color;
      }
    }

  }
}