//
//     /\   \ /  |  / \  |\  /|
//    /  \  / \  |  \ /  | \/ |
//
// Form
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.focus-within {
  border-top: .3rem solid transparent;
  &:focus-within {
    border-color: $color-primary;
    & > h2 {
      color: $color-primary;
    }
  }
}

legend,
label:first-child {
  @include display-font-style();
  font-size: 2.2rem;
  display: block;
}

input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
textarea,
select {
  appearance: none; // Removes awkward default styles on some inputs for iOS
  background-color: $color-background;
  border: .1rem solid $color-medium;
  border-radius: $border-radius;
  box-shadow: none;
  box-sizing: inherit; // Forced to replace inherit values of the normalize.css
  padding: .6rem 1.0rem; // The .6rem vertically centers text on FF, ignored by Webkit
  width: 100%;

  font-size: 1.8rem;

  &:focus {
    border-color: $color-primary !important;
    outline: 0;
  }
}

textarea {
  //min-height: 6.5rem;
  //resize: vertical;
}

// look for red in the $color variables, or fall back to default
$color-red: #DD396A !default;
@if map-has-key($colors, "red") {
  $color-red: map-get($colors, "red");
}

abbr[title='required'] {
  color: $color-red;
  text-decoration: none;
}