//
//     /\   \ /  |  / \  |\  /|
//    /  \  / \  |  \ /  | \/ |
//
// Grid
// ––––––––––––––––––––––––––––––––––––––––––––––––––

$content-half-width: ($content-width - $grid-gap) / 2;
$content-third-width: ($content-width - $grid-gap - $grid-gap) / 3;
$content-third-width-halved: ($content-third-width - $grid-gap) / 2;

@media (min-width: $media-larger-than-mobile) {
  .grid {
    display: grid;
    grid-gap: $grid-gap;

    &.grid-content {
      max-width: $content-width;
      margin-left: auto;
      margin-right: auto;
      grid-template-columns: 
        [content-start left-start] minmax(0, $content-half-width)
        [left-end right-start] minmax(0, $content-half-width)
        [content-end right-end];
      
      &.grid-thirds {
        grid-template-columns: 
          [content-start third-a-start] minmax(0, $content-third-width)
          [third-a-end third-b-start] minmax(0, $content-third-width)
          [third-b-end third-c-start] minmax(0, $content-third-width)
          [third-c-end content-end];
      }
    }

    &.grid-full {
      grid-template-columns: 
        [full-start full-left-start] minmax(0, 1fr)
        [content-start left-start] minmax(0, $content-half-width)
        [full-left-end left-end full-right-start right-start] minmax(0, $content-half-width)
        [content-end right-end] minmax(0, 1fr)
        [full-end full-right-end];
      
      &.grid-thirds {
        grid-template-columns: 
          [full-start full-left-start] minmax(0, 1fr)
          [content-start third-a-start] minmax(0, $content-third-width)
          [third-a-end third-b-start] minmax(0, $content-third-width-halved)
          [full-left-end left-end full-right-start right-start] minmax(0, $content-third-width-halved)
          [third-b-end third-c-start] minmax(0, $content-third-width)
          [content-end third-c-end right-end] minmax(0, 1fr)
          [full-end] full-right-end;
      }
    }

    & > .item-content {
      grid-column: content;
    }

    & > .item-full {
      grid-column: full;
    }
    & > .item-full-left {
      grid-column: full-left;
    }
    & > .item-full-right {
      grid-column: full-right;
    }

    & > .item-content-left {
      grid-column: left;
    }
    & > .item-content-right {
      grid-column: right;
    }

    & > .item-third-a {
      grid-column: third-a;
    }
    & > .item-third-b {
      grid-column: third-b;
    }
    & > .item-third-c {
      grid-column: third-c;
    }

  }
}