//
//     /\   \ /  |  / \  |\  /|
//    /  \  / \  |  \ /  | \/ |
//
// Grid
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.grid {
  max-width: $content-width;
  margin: 0 auto;
  padding: $grid-gap $content-padding;
  display: grid;
  grid-gap: $grid-gap;
}
.grid-column-span-2 {
  grid-column-end: span 1;
}
.grid-column-span-3 {
  grid-column-end: span 1;
}

@media (min-width: $media-larger-than-mobile) {
  .grid {
    grid-template-columns: 
      [content-start left-start] 1fr
      [left-end right-start] 1fr
      [right-end content-end];
  }
  .grid-column-span-2 {
    grid-column-end: span 2;
  }
  .grid-column-span-3 {
    grid-column-end: span 2;
  }
}

@media (min-width: $media-larger-than-tablet) {
  .grid-3 {
    grid-template-columns: 
      [content-start left-start] 1fr
      [left-end center-start] 1fr
      [center-end right-start] 1fr
      [right-end content-end];
  }
  .grid-column-span-3 {
    grid-column-end: span 3;
  }
}

// Grid columns

.grid-column-content {
  grid-column: content;
}

.grid-column-left {
  grid-column: left;
}
.grid-column-right {
  grid-column: right;
}

.grid-column-center {
  grid-column: center;
}
.grid-column-center-left {
  grid-column: left / center;
}
.grid-column-center-right {
  grid-column: center / right;
}