//
//     /\   \ /  |  / \  |\  /|
//    /  \  / \  |  \ /  | \/ |
//
// Body Header
// ––––––––––––––––––––––––––––––––––––––––––––––––––

$main-width: $media-larger-than-tablet * 0.7;

body > header {
  background: $color-primary;
}

body {
  & > header {
    min-height: 50vh;
  }
  & > main {
    //width: 100%;
  }
}

@media (min-width: $media-larger-than-mobile) {
  body.magazine {
    & > header {
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 30vw;
    }
    & > main {
      position: absolute;
      left: 30vw;
      width: $main-width;
    }
  }
}

@media (min-width: $media-larger-than-tablet) {
}