//
//     /\  |\ | | |\  /|  /\ 
//    /  \ | \| | | \/ | /  \
//
// Icons
// ––––––––––––––––––––––––––––––––––––––––––––––––––

$isIconRounded: true !default;
$iconStrokeWidth: 3 !default;

// url friendly color, "#" won't work in url(data:) use %23
@function url-col($color) {
	@return '%23' + str-slice('#{$color}', 2, -1)
}

$cap: 'butt';
$join: 'miter';
@if $isIconRounded {
  $cap: 'round';
  $join: 'round';
}

.ic {
  display: inline-block;
  border-radius: 16%;
  //border-radius: $border-radius;
  //position: relative;

  width: 1.5em;
  height: 1.5em;


  //background-size: cover;
  background-repeat: no-repeat !important;
  background-position: center !important; 
  //background:red;

  p > & {
    top: .35em;
    margin-top: -.35em;
  }
}

.ic-social {
  width: 2em;
  height: 2em;
  background-size: 75%;

  background-color: $color-primary;
  &:hover {
    background-color: $color-dark;
  }
}

.ic-logo {
  width: 6rem;
  height: 6rem;
  top: 0;
  margin-top: 0;
}

.ic-home {
  width: 25.6rem;
  height: 25.6rem;
}

@import './Icons/Basic';
@import './Icons/Social';
