//
//     /\  |\ | | |\  /|  /\ 
//    /  \ | \| | | \/ | /  \
//
// Icons
// ––––––––––––––––––––––––––––––––––––––––––––––––––

$is-icon-rounded: true !default;
$icon-stroke-width: 3 !default;

// url friendly color, "#" won't work in url(data:) use %23
@function url-col($color) {
	@return '%23' + str-slice('#{$color}', 2, -1)
}

$cap: 'butt';
$join: 'miter';
@if $is-icon-rounded {
  $cap: 'round';
  $join: 'round';
}

.ic {
  display: inline-block;
  border-radius: 16%;
  //border-radius: $border-radius;
  position: relative;

  width: 1.5em;
  height: 1.5em;


  //background-size: cover;
  background-repeat: no-repeat !important;
  background-position: center !important; 
  //background:red;

  p &, h2 & {
    top: .35em;
    margin-top: -.35em;
  }
}

.transform-rotate-90 {
  transform: rotate(90deg);
}
.transform-rotate-180 {
  transform: rotate(180deg);
}
.transform-rotate-270 {
  transform: rotate(270deg);
}
.transform-flip-x {
  transform: scaleX(-1);
}
.transform-flip-y {
  transform: scaleY(-1);
}

.ic-social {
  width: 2em;
  height: 2em;
  background-size: 75%;

  background-color: $color-primary;
  &:hover {
    background-color: $color-foreground;
  }
}

.ic-medium {
  width: 10rem;
  height: 10rem;
}
.ic-large {
  width: 20rem;
  height: 20rem;
}


@media (min-width: $media-larger-than-mobile) {
  .ic-medium {
    width: 16rem;
    height: 16rem;
  }
  .ic-large {
    width: 24rem;
    height: 24rem;
  }
}


@import './Icons/Basic';
@import './Icons/Social';
