//
//     /\   \ /  |  / \  |\  /|
//    /  \  / \  |  \ /  | \/ |
//
// Link
// ––––––––––––––––––––––––––––––––––––––––––––––––––

a {
  color: $color-primary;
  text-decoration: none;
  font-weight: $font-weight-bold;

  &:focus,
  &:hover {
		text-decoration: underline;
  }

  &.tile {
    display: block;
    @include animated-border-hover($color-primary, $color-background, .3em);
    font-weight: $font-weight-regular;
    background-color: $color-light;
    color: $color-foreground;

    & > div {
      padding: $grid-gap / 2;
    }

    /*
    display: flex;
    flex-direction: column;
    & > * {
      height: 50%;
      flex: 1;
    }
    */

    &:focus,
    &:hover {
      text-decoration: none;
      color: $color-foreground;
    }
  }
}
