//
//     /\   \ /  |  / \  |\  /|
//    /  \  / \  |  \ /  | \/ |
//
// Typography
// ––––––––––––––––––––––––––––––––––––––––––––––––––

b, strong, .font-weight-bold {
  font-weight: $font-weight-bold;
}

.font-weight-thin {
  font-weight: $font-weight-thin;
}

.font-regular {
  font-family: $font-stack;
  font-weight: $font-weight-regular;
  letter-spacing: $font-letter-spacing;
}

.font-display {
  @include display-font-style();
}

h1 {
  @include display-font-style();
  font-size: 5rem;
  @media (min-width: $media-larger-than-mobile) {
    & {
      font-size: 7rem;
    }
  }
}

h2 {
  @include display-font-style();
  font-size: 3rem;
  @media (min-width: $media-larger-than-mobile) {
    & {
      font-size: 4rem;
    }
  }
}

