//
//     /\   \ /  |  / \  |\  /|
//    /  \  / \  |  \ /  | \/ |
//
// Utility, Hides
// ––––––––––––––––––––––––––––––––––––––––––––––––––


.fixed {
  position: fixed;
  z-index: 9999;
  width: 100%;
}

.border-bottom {
  border-bottom: 0.1rem solid $color-medium;
}


.hide-small, .hide-small-medium {
  display: none;
}

@media (min-width: $media-larger-than-mobile) {
  .hide-small {
    display: block;
  }
}

@media (min-width: $media-larger-than-tablet) {
  .hide-small-medium {
    display: block;
  }

  .hide-large {
    display: none;
  }
}