//
//     /\   \ /  |  / \  |\  /|
//    /  \  / \  |  \ /  | \/ |
//
// Utility, Hides
// ––––––––––––––––––––––––––––––––––––––––––––––––––


// some text utility classes

.text-align-center {
  text-align: center;
}

.text-align-justify {
  text-align: justify;
}

// layout

.width-100 {
  width: 100%;
}

.height-100vw {
  min-height: 100vw;
}

.height-400 {
  min-height: 40rem;
}

.content {
  max-width: $content-width;
  margin-left: auto;
  margin-right: auto;
}

.padding-gap {
  padding: $grid-gap;
}

// hides

.hide-small, .hide-small-medium {
  display: none;
}

@media (min-width: $media-larger-than-mobile) {
  .hide-small {
    display: block;
  }
}

@media (min-width: $media-larger-than-tablet) {
  .hide-small-medium {
    display: block;
  }

  .hide-large {
    display: none;
  }

  .width-half-large {
    max-width: 50%;
  }
}