//
//     /\   \ /  |  / \  |\  /|
//    /  \  / \  |  \ /  | \/ |
//
// Variables
// ––––––––––––––––––––––––––––––––––––––––––––––––––

$border-radius: .4rem !default;

// Variables for the media breakpoints
// em because rem breakpoints don't work on Safari
$media-larger-than-mobile: 40.0em !default;
$media-larger-than-tablet: 60.0em !default;

// Colors –––––––––––––––––––––––––––––––––––––––––––

// The branded color
$color-primary: #9e95d3 !default;

// Base colors
$color-background: #fff !default;
$color-body: #292827 !default;

$color-green: #008F64 !default;
$color-red: #DD396A !default;


// Fonts ––––––––––––––––––––––––––––––––––––––––––––

$font-stack: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;
$font-weight-regular: 400 !default;
$font-weight-bold: 700 !default;
$font-letter-spacing: .01em !default;

$font-h1-stack: 'Roboto Condensed', 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;
$font-h1-weight: 500 !default;
$font-h1-letter-spacing: .02em !default;
$font-h1-is-uppercase: true;

$font-h2-stack: $font-h1-stack !default;
$font-h2-weight: 300 !default;
$font-h2-letter-spacing: $font-h1-letter-spacing !default;
$font-h2-is-uppercase: $font-h1-is-uppercase !default;


// Colors shades ––––––––––––––––––––––––––––––––––––

$color-light: mix($color-background, $color-body, 93%) !default;
$color-medium: mix($color-background, $color-body, 65%) !default;
$color-dark: mix($color-background, $color-body, 30%) !default;

@function hover-color($color){
  @return hsl(hue($color), 50%, 70%);
}
$color-primary-hover: hover-color($color-primary) !default;


// Mixins for variable use ––––––––––––––––––––––––––

// add border-radius only if set to a value other than 0.
@mixin border-radius-if-set {
  @if variable-exists($border-radius) {
    @if $border-radius != 0 {
      border-radius: $border-radius;
    }
  }
}