//
//     /\   \ /  |  / \  |\  /|
//    /  \  / \  |  \ /  | \/ |
//
// Variables
// ––––––––––––––––––––––––––––––––––––––––––––––––––

// Variables for the media breakpoints
// em because rem breakpoints don't work on Safari
$media-larger-than-mobile: 40.0em !default;
$media-larger-than-tablet: 60.0em !default;

// Colors –––––––––––––––––––––––––––––––––––––––––––

// Base colors
$color-background: #fff !default;
$color-foreground: #292827 !default;

// Branded color
$color-primary: #9e95d3 !default;

// Color to contrast with primary for button text, etc.
@if lightness($color-primary) > 50% and lightness($color-background) > 50% {
  $color-primary-contrast: $color-foreground !default;
} @else {
  $color-primary-contrast: $color-background !default;
}

// Background colors
$colors: (
  'red': #DD396A,
  'purple': #964fd8,
  'blue': #425dd6,
  'teal': #39a2cc,
  'green': #008F64,
  'yellow': #DDC937,
  'orange': #E2692D
);

// Dark Theme
$include-dark-theme: true !default;
$color-dark-background: $color-foreground !default;
$color-dark-foreground: $color-background !default;
$color-dark-primary: $color-primary !default;


// Colors shades ––––––––––––––––––––––––––––––––––––

$color-light: mix($color-background, $color-foreground, 93%) !default;
$color-medium: mix($color-background, $color-foreground, 65%) !default;
//$color-dark: mix($color-background, $color-foreground, 30%) !default;


// Fonts ––––––––––––––––––––––––––––––––––––––––––––

$font-stack: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;
$font-weight-thin: 100 !default;
$font-weight-regular: 400 !default;
$font-weight-bold: 700 !default;
$font-letter-spacing: .01em !default;

$display-font-stack: 'Roboto Condensed', 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;
$display-font-weight: 500 !default;
$display-font-letter-spacing: .02em !default;
$display-font-line-height: 1.25 !default;
$display-font-is-uppercase: true !default;


// Other Units ---–––––––––––––––––––––––––––––––––––

// Layout units, using em for .a11y-big wont apply. 
$grid-gap: 3em !default;
$content-padding: .8em !default;
$content-width: 112em !default;
$article-width: 86em !default;
$animation-speed: 150ms !default;

// Corners for buttons, etc.
$border-radius: .4rem !default;

// Icon Customization
$is-icon-rounded: true !default;
$icon-stroke-width: 3 !default;


// Mixins for variable use ––––––––––––––––––––––––––

// add border-radius only if set to a value other than 0.
@mixin border-radius-if-set {
  @if variable-exists($border-radius) {
    @if $border-radius != 0 {
      border-radius: $border-radius;
    }
  }
}

// display font used in a few places
@mixin display-font-style {
  font-family: $display-font-stack;
  font-weight: $display-font-weight;
  letter-spacing: $display-font-letter-spacing;
  line-height: $display-font-line-height;
  @if $display-font-is-uppercase {
    text-transform: uppercase;
  }
}

// consistent hover/focus effect
@mixin animated-border-hover($color, $bgcolor, $width: .2rem) {
  $half: $width / 2;
  transition: box-shadow $animation-speed ease-out;
  &:focus, &:hover, &:active {
    outline: 0;
    box-shadow: 0 0 0 $half  $bgcolor,
                0 0 0 $width $color;
  }
}