//
//     /\   \ /  |  / \  |\  /|
//    /  \  / \  |  \ /  | \/ |
//
//  Semantic  Minimalist  Future
//    Created by Tim, Dec 2019
//  

// Font
$font-stack: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-letter-spacing: .01em;

$border-radius: .4rem;

$is-icon-rounded: true;
$icon-stroke-width: 3;

// Colors
//$color-primary: #605987;
$color-primary: #9e95d3;
$color-background: #fff;


// All modules
// @import 'axiom/axiom';

@import 'axiom/Variables';
@import 'axiom/Base';

@import 'axiom/A11y';
@import 'axiom/Article';
@import 'axiom/Aside';
@import 'axiom/Button';
@import 'axiom/Colors';
@import 'axiom/Flex';
@import 'axiom/Footer';
@import 'axiom/Form';
@import 'axiom/Grid';
@import 'axiom/Header';
@import 'axiom/Icons';
@import 'axiom/Image';
@import 'axiom/Link';
@import 'axiom/Message';
@import 'axiom/Quote';
@import 'axiom/Table';
@import 'axiom/Theme';
@import 'axiom/Typography';
@import 'axiom/Utility';